body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle, #0f172a, #020617);
  color: white;
  text-align: center;
}

/* VIDEO GRID */
.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* VIDEO BOX */
.video-box {
  position: relative;
  width: 260px;
  border-radius: 15px;
  overflow: hidden;
  background: black;
}

/* VIDEO */
video {
  width: 100%;
}

/* FULLSCREEN */
video:fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
}

/* USERNAME */
.username {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 14px;
  background: rgba(0,0,0,0.5);
  padding: 4px 8px;
  border-radius: 8px;
}

/* CAMERA OFF */
.camera-off {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

/* BUTTON */
button {
  padding: 12px;
  margin: 6px;
  border-radius: 10px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 600px) {
  .video-box {
    width: 90%;
  }
}
