body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.center {
  margin-top: 100px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 18px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0ea5e9;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

video {
  width: 280px;
  border-radius: 12px;
  background: black;
}

.controls {
  margin: 20px;
}

.chat {
  width: 300px;
  margin: auto;
}

#messages {
  height: 150px;
  overflow-y: scroll;
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
}
